@mixin flexbox {
  display: flex;
  font-size: 0;
}
@mixin transition($x ...){
  transition: $x;
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  
}
$primaryColor: #FF9900;
$secondaryColor: #000000;
$textColor: #000;

$blockBg: #F8F8F8;

$minWidth: 320px;

$mw: 1336;
$md1: $mw + 18;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding:0 18px;
}
.page{
  position: relative;
}
