@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?snti8d');
    src:  url('../fonts/icomoon.eot?snti8d#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?snti8d') format('truetype'),
      url('../fonts/icomoon.woff?snti8d') format('woff'),
      url('../fonts/icomoon.svg?snti8d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Roboto:wght@400;700&display=swap');
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cross:before {
    content: "\e900";
    color: #5a5a5a;
  }
  .icon-burger:before {
    content: "\e901";
    color: #5a5a5a;
  }
  .icon-star:before {
    content: "\e902";
    color: #5a5a5a;
  }
  .icon-basket:before {
    content: "\e903";
    color: #5a5a5a;
  }
  .icon-user:before {
    content: "\e904";
    color: #5a5a5a;
  }
  .icon-phone:before {
    content: "\e905";
    color: #5a5a5a;
  }
  .icon-search:before {
    content: "\e906";
    color: #5a5a5a;
  }