.main-nav {
  padding: 20px 0;
  .container {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    .burger {
      font-size: 1.2rem;
    }
    form {
      font-size: 1rem;
      position: relative;
      input {
        background: linear-gradient(98.34deg, #ffffff 0%, #ffffff 100%);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        height: 54px;
        padding: 0 20px;
        font-size: 1.2em;
        width: 600px;
      }
      button {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 2em;
        background: none;
      }
    }
    span {
      position: relative;
      cursor: pointer;
      .badget-qty{
        position: absolute;
        margin: -15px -20px 0;
        font-weight: bold;
        font-size: 1rem; 
        color: $primaryColor;
      }
    }

    .buttons {
      display: flex;
      font-size: 1.6rem;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 780px) {
  .main-nav {
    padding: 20px 0;
    .container {
      form {
        input {
          width: 360px;
        }
      }
    }
  }
}
