#blind{
    position: absolute;
    height: 100vh;
    max-width:500px;
    width: 100%;
    top:0;
    background: #fff;
    padding: 18px;
    text-align: right;
    z-index: 50;

    span{
        cursor: pointer;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        li a{
            color: $textColor;
            font-family: 'Jost';
            font-size: 2em;
            text-transform: capitalize;
            @include transition(color .5s);
            &:hover{
                color: $primaryColor;
            }
        }
    }
}

.show{
    display: none;
}
.right{
    right: 0;
}
