.home-category {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  h2 {
    font-family: "Jost";
    font-size: 1.4rem;
    width: 100%;
    span {
      font-size: 1rem;
      margin-left: 10px;
      font-family: "Roboto";
      text-transform: capitalize;
      @include transition(color 0.5s);
      &:hover {
        color: $primaryColor;
      }
    }
  }
}
